html{
    height: 100%;
    margin: 20px;
}
ul li{
    list-style: none;
}
body{
    min-height: 100%;
    line-height: 1;
    padding-bottom: 20px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./IMG/space.jpeg);
    background-attachment: fixed;
}
p{
    text-align: justify;
}
*{
    margin: 0;
    padding: 0.5%;
    
    box-sizing: border-box;
}

header nav ul li a{
    color: aliceblue;
}
h1{
    font-size: 3rem;
    color: azure;
}
h2{
    font-size: 2rem;
}
header{
    background-color: brown;
}
header nav ul li{
    box-sizing:border-box;
    width: 8%;
    height: 1%;
    padding: 0.5%;
    text-align: center;
    margin: 0;
    list-style: none;
    display: inline;
}

aside{
    position: static;
    float: left;
    padding: 80% 20% 32% 6%;
    margin: auto;
}
.sideBar{
    position: relative;
    text-align: center;
    box-sizing: border-box;

}
.sideBar a{
    font-style:none;
}

main {
    padding: 0% 10% 0% 20%;
    background-color: aliceblue;
}

main h2{
    font-style: italic;
}

.profile{
    border-image: auto;
    border-image-width: 200px;
    display: flex;
}

.profile:hover{
    opacity: 0;
    border-image: auto;
    border-image-width: 200px;
    

}
/* main figure img .profile:hover{
   
    opacity: 0;
} */
footer{
    background-color: rgb(179, 31, 31);
    color: white;
    text-align: center;
}
footer a{
    background-color: aliceblue;
    border-radius: 25%;
    color: rgb(179, 31, 31);

}
section span ul li {
    list-style: circle;
    list-style-type: square;
    padding-left: 10px;
}